@page
@model MyScriptureJournal.Pages.Journal.IndexModel

@{
    ViewData["Title"] = "Index";
}

@section Scripts {
    <script>

        var sortColumn = 1;
        var sortAscending = true;
        sortTable(1);

        function sortTable(column) {
            var table, rows, switching, i, x, y, shouldSwitch, dir;
            table = document.querySelector("table");
            switching = true;

            if (column === sortColumn) {
                sortAscending = !sortAscending;
            } else {
                sortAscending = true;
            }

            sortColumn = column;
            document.getElementById("dateIndicator").innerText = "⇅";
            document.getElementById("bookIndicator").innerText = "⇅";
            document.getElementById((column === 1 ? "dateIndicator" : "bookIndicator")).innerText = sortAscending ? " ▲" : " ▼";

            while (switching) {
                switching = false;
                rows = table.rows;

                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;

                    x = rows[i].getElementsByTagName("TD")[column];
                    y = rows[i + 1].getElementsByTagName("TD")[column];

                    dir = (sortAscending) ? 1 : -1;
                    if (x.innerText.localeCompare(y.innerText) === dir) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }
    </script>
}

<h1>Table of Contents</h1>

<p>
    <a asp-page="Create">New Journal Entry</a>
</p>

<div>
    <form method="get">
        <div class="form-row">
            <div class="col-md-4 m-2">
                <input type="text" name="bookSearch" class="form-control" placeholder="Search by Book">
            </div>
            <div class="col-md-4 m-2">
                <input type="text" name="keywordSearch" class="form-control" placeholder="Search by Keyword">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary m-1">Search</button>
            </div>
        </div>
    </form>
</div>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th class="prevent-select">Title <span id="titleIndicator"></span></th>
            <th class="prevent-select" onclick="sortTable(1)">Date <span id="dateIndicator"></span></th>
            <th class="prevent-select" onclick="sortTable(2)">Book <span id="bookIndicator"></span></th>
            <th class ="prevent-select">Link</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var entry in Model.JournalEntry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => entry.Title)
            </td>
            <td>
                @String.Format("{0:d MMM yyyy}", entry.Date)
            </td>
            <td>
                @Html.DisplayFor(modelIttem => entry.ScriptureBook)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => entry.OnlineLibraryLink)" target="_blank" rel="noopener noreferrer">View Scripture</a>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@entry.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@entry.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@entry.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
